<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <tx:annotation-driven transaction-manager="txManager"/>
    <context:component-scan base-package="com.nadman.dao"/>

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:http://127.0.1.1/shop"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="itemDao" class="com.nadman.dao.ItemDao"/>
    <bean id="itemService" class="com.nadman.services.ItemService">
        <property name="itemDao" ref="itemDao"/>
    </bean>

    <bean id="shopDao" class="com.nadman.dao.ShopDao"/>
    <bean id="shopService" class="com.nadman.services.ShopService">
        <property name="shopDao" ref="shopDao"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.nadman.bean"/>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.H2Dialect
                <!--hibernate.show_sql=true-->
                hibernate.hbm2ddl.auto=create
                hibernate.enable_lazy_load_no_trans=true
            </value>
        </property>
    </bean>

    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>